*{
  margin: 0;
  padding: 0;
}

#dark,
:root {
  font-size: 62,50%;
  --tt-color: rgba(12, 247, 211, 0.842);
  --background-color:  rgb(48, 47, 61);
  --link-color: rgba(214, 10, 214, 0.493);
  --border-link:  rgb(187, 153, 221);
  --img-border: rgb(187, 153, 221);
  --filter-color: rgb(54, 177, 161);
}

#dark,
:root:has(#dark:checked) {
  --background-color:  rgb(48, 47, 61);
  --tt-color: rgba(12, 247, 211, 0.842);
  --link-color: rgba(214, 10, 214, 0.493);
  --border-link:  rgb(187, 153, 221);
  --img-border: rgb(94, 30, 159);
  --filter-color: rgb(54, 177, 161);
}

#pink,
:root:has(#pink:checked) {
  --background-color:rgb(171, 105, 170);
  --tt-color: rgb(190, 28, 174);
  --link-color: rgb(187, 39, 160);
  --border-link: rgb(220, 153, 221);
  --img-border: rgb(220, 153, 221);
  --filter-color: rgb(221, 18, 18);
}

body{ 
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--tt-color);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
  margin-top: 20px;
}

@media(min-width: 768px) {
  section {
    margin-top: 80px;
   }
}

@media (max-width: 500px) {
 section {
  margin-top: 80px;
 }   
}

@media (max-width:375px) {
  section {
    margin-top: 40px;
  }   
}

header {
  margin-bottom: 8px;
}

img {
  border-radius: 50%;
  border:var(--img-border) solid 2px;
  padding: 6px;

}

#profile-photo {
  width:7rem;
  filter: drop-shadow(0 0 15px var(--filter-color));
}

main a {
  display: flex;
  justify-content: center;
  border: var(--border-link) solid 1px;
  margin-bottom: 15px;
  width: 210px;
  height: 25px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--link-color);
  padding: 10px;
}

 main a:hover  {
  background-color: rgb(91, 90, 114);
  transition: all 2s;
  color: rgba(12, 247, 211, 0.842);
  border: rgba(12, 247, 211, 0.842) solid 1px;
}

footer  {
margin-top: 50px;
display: flex;
gap: 20px;
}
  
footer a:hover {
  transition:  2s all;
  padding: 10px;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  position: fixed;
  right: 1rem;
  top: 0.2rem;
  padding: 1rem;
  border-radius: 8px;
}

input[type="radio"] {
  appearance: none;
  border: 2px solid var(--input-color);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: var(--input-color);
}

#dark {
  --input-color: rgb(21, 22, 21);
  --tt-color: rgb(61, 64, 61);
  --link-color: rgba(214, 10, 214, 0.493);
  --border-link:  rgb(187, 153, 221);
  --img-border: rgb(94, 30, 159);
  --filter-color: rgb(54, 177, 161);
}

#pink {
  --input-color: rgb(139, 13, 137);
  --tt-color: rgb(190, 28, 174);
  --link-color: rgb(240, 10, 198);
  --border-link: rgb(220, 153, 221);
  --img-border: rgb(220, 153, 221);
  --filter-color: rgb(221, 18, 18);
}